@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ADO.net Entity Data Model</h2>
    <p class="lead">ASP.NET MVC 5 application using data model ADO.Entity framework using SQL Server</p>
    <p>The relationship between employee and the department is One to Many. The employee belongs to only one department. The department can have many employees. In a One to Many relationship Primary key of the department table (Id) is defined as Foreign key in the Employees table</p>
</div>
<div class="jumbotron">
    <h2>Entity framework</h2>
    <p class="lead">ASP.NET MVC 5 application using data model Entity framework</p>
</div>